name: Flutter CI

on:
  push:
    branches: [main, master, "**/chore/**", "**/refactor/**"]
  pull_request:
    branches: [main, master]

jobs:
  format-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: Install dependencies
        run: flutter pub get
      - name: Format check
        run: |
          flutter format --set-exit-if-changed .

  analyze:
    name: Static analysis
    runs-on: ubuntu-latest
    needs: format-check
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: Install dependencies
        run: flutter pub get
      - name: Run analyzer
        run: flutter analyze

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: analyze
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter test --no-pub
